apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ namespace_name }}-resource-quota
  namespace: {{ namespace_name }}
spec:
  hard:
    requests.cpu: {{ cpu_limit }}
    requests.memory: {{ memory_limit }}
    requests.storage: {{ storage_limit }}
    limits.cpu: {{ cpu_limit }}
    limits.memory: {{ memory_limit }}
